
#movieList{
    background-color: black;
    padding:25px;
}

#detailsmovie{
    background-color: black;
    padding:25px;
    height:655px;
}

.label-title{
    margin-left: 10px;
    color : white;
}

h2 {
    color : red;
}

p {
    color: white;
}

h4 {
    color: orange;
}

#btn-search{
    color:white;
    background-color: orangered;
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    margin:10px;
}

#inp-search{
    font-size: 20px;
    border: none;
    border-radius: 20px;
    width: 90%;
    padding: 5px;
    padding-left: 20px;
}

label{
    font-size: 20px;
    color:white;
}

input{
    font-size: 20px;
    border: none;
    border-radius: 20px;
    width: 90%;
    padding: 5px;
    padding-left: 20px;
}

#btn-submit{
    color:white;
    background-color: orangered;
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    margin-top:10px;
}